name: nightly

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        include:
          [
            { name: windows_x86, arch: x86 },
            { name: windows_x64, arch: x64 },
            { name: windows_arm64, arch: arm64 }
          ]

    name: ${{ matrix.name }}

    runs-on: windows-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: setup VC-LTL
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: nuget install VC-LTL

      - name: setup xmake
        uses: xmake-io/github-action-setup-xmake@v1

      - name: configure
        run: xmake f -a ${{ matrix.arch }} -m release -y

      - name: build
        run: xmake

      - name: package
        run: |
          mkdir -p package
          cp build/release/${{ matrix.arch }}/version.dll package/
          cp config.ini.example package/
          cp config.ini.example.zh-CN package/
          cd package
          7z a ../${{ matrix.name }}.zip *

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: ${{ matrix.name }}.zip
          compression-level: 0
